<style type="text/css">

  body{

      }

    label{
            font-size: 180%;
            position: relative;
            top: 4px;
            width: 150px;
            float: left;
         }

  input{
          padding: 5px 5px 10px 5px;
          font-size: 25px;
          border: 1px solid grey;
          border-radius: 5px;
          width: 320px;

       }

    #resizable1 {
                  width: 150px;
                  height: 150px;
                  padding: 0.5em;
                  background-color: red;
                  position: relative;
                  left: 500px;
                  bottom: 300px;
               }

    #umgebung {
                width: 400px;
                height: 400px;
                background-color: yellow;
                border: 1px solid black;
              }

    #drag {
            border: 2px solid grey;
            width: 300px;
          }

    #successMessage {
                        font-size: 25px;
                        color: #32f011;
                        display: none;
                        font-family: sans-serif;
                        font-weight: bold;
                        margin-top: 10px;
                        margin-bottom: 15px;
                    }

    #errorMessage {
                      font-size: 25px;
                      color: red;
                      font-family: sans-serif;
                      font-weight: bold;
                  }

    #subbutton{
                  position: relative;
                  left: 85px;
                  top: 20px;
               }

    #wrapper {
                width: 500px;
                margin: 0 auto;
             }

    #kreis {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: green;
            margin: 10px;
    }

    .eck {
          width: 150px;
          height: 150px;
          background-color: red;
          margin: 10px;
    }

    .form-element {
                    margin-bottom: 10px;
                  }

</style>
