<style type="text/css">

body{
      font-family: sans-serif;
    }

    #form {

        width: 200px;
        height: 200px;
        background-color: red;
        display: none;
        position: relative;

    }


    .bold{
            font-weight: bold;
         }

    p{
        color: #ffffff;
        font-size: 150%;
     }

     h1{
         color: #ffffff;
      }




</style>
